<div class="container mt-5">
  <div class="alert alert-danger">
    <h4 class="alert-heading">Error </h4>
    <p>{{message}}</p>
    <hr>
    <a href="/" class="btn btn-primary mt-3">Volver al inicio</a>
  </div>
</div>
